In [ ]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.signal import find_peaks
import shutil

def read_data(path) :
    folder_path = path
    file_name = ''
    glob_file = glob.glob(os.path.join(folder_path, file_name + '*txt'))

    for i, v in enumerate(glob_file) :
        df = pd.read_csv(v, sep="\s+", header=0)
        values = df.values
        
        df = df.to_numpy()
        df = np.insert(df, 0, values[:,0], axis=1)
        df = np.insert(df, 1, values[:,4], axis=1)

        df = df[:,:2]

        data_file = os.path.split(v)

        np.savetxt(str(i) + '.csv', df, delimiter=", ", fmt='%s')
        
def make_folder(path, file_name, new_path, new_folder):
    dir = path + '/'
    print(os.path.join(dir, file_name))
    glob_file = glob.glob(os.path.join(dir, file_name))
    # print(glob_file)

    new_dir = new_path + '/' + new_folder 

    try:
        if not os.path.exists(new_dir) :
            os.makedirs(new_dir)
    except OSError:
        print('Error')

    for i, path_lst in enumerate(glob_file):
        data_name = os.path.split(path_lst)
        print(data_name[1])
        if os.path.isfile(new_dir+'/' + data_name[1]):
            print("파일이 이미 존재함: " + new_dir + '/' + data_name[1])
        else:
            shutil.move(dir+data_name[1], new_dir)
        
read_data('/Users/leeyumin/Desktop/handcream/sample_2/')

make_folder('.', '*csv', '/Users/leeyumin/Desktop/handcream/', "sample2")

In [7]:
# %load increasing_maxvalue2.py
import os
import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
import scipy.stats as stats
from natsort import natsorted, ns

def concating(folder):
    
    print("folder",folder)

    temp=np.zeros(2000) #2001
    result=pd.DataFrame(temp)

    for score in range(1,3):
        #print(xxx)
        x='/Users/leeyumin/Desktop/handcream/sample'+str(score)
        MyPath = os.path.realpath(x)
        print(MyPath)

        csv_file = glob.glob(os.path.join(MyPath, '*.csv'))
        csv_file_sort = natsorted(csv_file, key=lambda y: y.lower())

        for i in range(len(csv_file_sort)):
            f=csv_file_sort[i]
            bb=pd.read_csv(f, header=None, dtype = np.float32) 
            result=pd.concat([result,bb[:2000]], axis=1)
            
        print("score",score)
        print(result.shape)

    print(result)
    
    L=list(np.arange(result.shape[1] + 1))
    result.columns=L[1:] #result의 열을 L[1:]로 변환 (1 ~ 1125가됨)
    print(result)
    result.drop(result.columns[[0]], axis = 1, inplace = True) # 1번째 열 0만 있는 부분 자르기
    print(result)
    return result
   

result=concating('')
print("end")

folder
/Users/leeyumin/Desktop/handcream/sample1
score 1
(2000, 563)
/Users/leeyumin/Desktop/handcream/sample2
score 2
(2000, 1125)
        0      0        1      0        1      0        1      0        1  \
0     0.0  0.100 -0.10529  0.200 -0.08365  0.200 -0.13671  0.100 -0.09454
1     0.0  0.101 -0.10485  0.201 -0.08382  0.201 -0.13648  0.101 -0.09430
2     0.0  0.102 -0.10444  0.202 -0.08436  0.202 -0.13635  0.102 -0.09418
3     0.0  0.103 -0.10412  0.203 -0.08509  0.203 -0.13637  0.103 -0.09415
4     0.0  0.104 -0.10391  0.204 -0.08581  0.204 -0.13645  0.104 -0.09417
...   ...    ...      ...    ...      ...    ...      ...    ...      ...
1995  0.0  2.095 -0.01252  2.195 -0.01158  2.195  0.01718  2.095 -0.01417
1996  0.0  2.096 -0.01247  2.196 -0.01189  2.196  0.01707  2.096 -0.01440
1997  0.0  2.097 -0.01233  2.197 -0.01217  2.197  0.01691  2.097 -0.01446
1998  0.0  2.098 -0.01209  2.198 -0.01246  2.198  0.01674  2.098 -0.01436
1999  0.0  2.099 -0.01179  2.199 -0.01278  2.199  0.01661  2.099 -0.01414

          0  ...      0        1      0        1      0        1      0  \
0     0.100  ...  0.100 -0.00600  0.100 -0.01562  0.100  0.00755  0.100
1     0.101  ...  0.101 -0.00630  0.101 -0.01529  0.101  0.00744  0.101
2     0.102  ...  0.102 -0.00663  0.102 -0.01485  0.102  0.00738  0.102
3     0.103  ...  0.103 -0.00691  0.103 -0.01436  0.103  0.00731  0.103
4     0.104  ...  0.104 -0.00704  0.104 -0.01390  0.104  0.00725  0.104
...     ...  ...    ...      ...    ...      ...    ...      ...    ...
1995  2.095  ...  2.095  0.01105  2.095  0.00877  2.095  0.05022  2.095
1996  2.096  ...  2.096  0.01139  2.096  0.00911  2.096  0.05051  2.096
1997  2.097  ...  2.097  0.01170  2.097  0.00935  2.097  0.05060  2.097
1998  2.098  ...  2.098  0.01192  2.098  0.00948  2.098  0.05051  2.098
1999  2.099  ...  2.099  0.01203  2.099  0.00954  2.099  0.05028  2.099

            1      0        1
0    -0.01868  0.100 -0.00891
1    -0.01859  0.101 -0.00920
2    -0.01857  0.102 -0.00939
3    -0.01859  0.103 -0.00959
4    -0.01856  0.104 -0.00980
...       ...    ...      ...
1995  0.02524  2.095  0.01300
1996  0.02518  2.096  0.01328
1997  0.02508  2.097  0.01357
1998  0.02494  2.098  0.01383
1999  0.02487  2.099  0.01408

[2000 rows x 1125 columns]
      1      2        3      4        5      6        7      8        9     \
0      0.0  0.100 -0.10529  0.200 -0.08365  0.200 -0.13671  0.100 -0.09454
1      0.0  0.101 -0.10485  0.201 -0.08382  0.201 -0.13648  0.101 -0.09430
2      0.0  0.102 -0.10444  0.202 -0.08436  0.202 -0.13635  0.102 -0.09418
3      0.0  0.103 -0.10412  0.203 -0.08509  0.203 -0.13637  0.103 -0.09415
4      0.0  0.104 -0.10391  0.204 -0.08581  0.204 -0.13645  0.104 -0.09417
...    ...    ...      ...    ...      ...    ...      ...    ...      ...
1995   0.0  2.095 -0.01252  2.195 -0.01158  2.195  0.01718  2.095 -0.01417
1996   0.0  2.096 -0.01247  2.196 -0.01189  2.196  0.01707  2.096 -0.01440
1997   0.0  2.097 -0.01233  2.197 -0.01217  2.197  0.01691  2.097 -0.01446
1998   0.0  2.098 -0.01209  2.198 -0.01246  2.198  0.01674  2.098 -0.01436
1999   0.0  2.099 -0.01179  2.199 -0.01278  2.199  0.01661  2.099 -0.01414

       10    ...   1116     1117   1118     1119   1120     1121   1122  \
0     0.100  ...  0.100 -0.00600  0.100 -0.01562  0.100  0.00755  0.100
1     0.101  ...  0.101 -0.00630  0.101 -0.01529  0.101  0.00744  0.101
2     0.102  ...  0.102 -0.00663  0.102 -0.01485  0.102  0.00738  0.102
3     0.103  ...  0.103 -0.00691  0.103 -0.01436  0.103  0.00731  0.103
4     0.104  ...  0.104 -0.00704  0.104 -0.01390  0.104  0.00725  0.104
...     ...  ...    ...      ...    ...      ...    ...      ...    ...
1995  2.095  ...  2.095  0.01105  2.095  0.00877  2.095  0.05022  2.095
1996  2.096  ...  2.096  0.01139  2.096  0.00911  2.096  0.05051  2.096
1997  2.097  ...  2.097  0.01170  2.097  0.00935  2.097  0.05060  2.097
1998  2.098  ...  2.098  0.01192  2.098  0.00948  2.098  0.05051  2.098
1999  2.099  ...  2.099  0.01203  2.099  0.00954  2.099  0.05028  2.099

         1123   1124     1125
0    -0.01868  0.100 -0.00891
1    -0.01859  0.101 -0.00920
2    -0.01857  0.102 -0.00939
3    -0.01859  0.103 -0.00959
4    -0.01856  0.104 -0.00980
...       ...    ...      ...
1995  0.02524  2.095  0.01300
1996  0.02518  2.096  0.01328
1997  0.02508  2.097  0.01357
1998  0.02494  2.098  0.01383
1999  0.02487  2.099  0.01408

[2000 rows x 1125 columns]
       2        3      4        5      6        7      8        9      10    \
0     0.100 -0.10529  0.200 -0.08365  0.200 -0.13671  0.100 -0.09454  0.100
1     0.101 -0.10485  0.201 -0.08382  0.201 -0.13648  0.101 -0.09430  0.101
2     0.102 -0.10444  0.202 -0.08436  0.202 -0.13635  0.102 -0.09418  0.102
3     0.103 -0.10412  0.203 -0.08509  0.203 -0.13637  0.103 -0.09415  0.103
4     0.104 -0.10391  0.204 -0.08581  0.204 -0.13645  0.104 -0.09417  0.104
...     ...      ...    ...      ...    ...      ...    ...      ...    ...
1995  2.095 -0.01252  2.195 -0.01158  2.195  0.01718  2.095 -0.01417  2.095
1996  2.096 -0.01247  2.196 -0.01189  2.196  0.01707  2.096 -0.01440  2.096
1997  2.097 -0.01233  2.197 -0.01217  2.197  0.01691  2.097 -0.01446  2.097
1998  2.098 -0.01209  2.198 -0.01246  2.198  0.01674  2.098 -0.01436  2.098
1999  2.099 -0.01179  2.199 -0.01278  2.199  0.01661  2.099 -0.01414  2.099

         11    ...   1116     1117   1118     1119   1120     1121   1122  \
0    -0.29672  ...  0.100 -0.00600  0.100 -0.01562  0.100  0.00755  0.100
1    -0.29732  ...  0.101 -0.00630  0.101 -0.01529  0.101  0.00744  0.101
2    -0.29797  ...  0.102 -0.00663  0.102 -0.01485  0.102  0.00738  0.102
3    -0.29863  ...  0.103 -0.00691  0.103 -0.01436  0.103  0.00731  0.103
4    -0.29929  ...  0.104 -0.00704  0.104 -0.01390  0.104  0.00725  0.104
...       ...  ...    ...      ...    ...      ...    ...      ...    ...
1995  0.06880  ...  2.095  0.01105  2.095  0.00877  2.095  0.05022  2.095
1996  0.06892  ...  2.096  0.01139  2.096  0.00911  2.096  0.05051  2.096
1997  0.06883  ...  2.097  0.01170  2.097  0.00935  2.097  0.05060  2.097
1998  0.06856  ...  2.098  0.01192  2.098  0.00948  2.098  0.05051  2.098
1999  0.06818  ...  2.099  0.01203  2.099  0.00954  2.099  0.05028  2.099

         1123   1124     1125
0    -0.01868  0.100 -0.00891
1    -0.01859  0.101 -0.00920
2    -0.01857  0.102 -0.00939
3    -0.01859  0.103 -0.00959
4    -0.01856  0.104 -0.00980
...       ...    ...      ...
1995  0.02524  2.095  0.01300
1996  0.02518  2.096  0.01328
1997  0.02508  2.097  0.01357
1998  0.02494  2.098  0.01383
1999  0.02487  2.099  0.01408

[2000 rows x 1124 columns]
end

In [17]:
df=result.transpose()
df

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
2,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,0.10900,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
3,-0.10529,-0.10485,-0.10444,-0.10412,-0.10391,-0.10381,-0.10375,-0.10373,-0.10378,-0.10395,...,-0.01183,-0.01203,-0.01223,-0.01238,-0.01249,-0.01252,-0.01247,-0.01233,-0.01209,-0.01179
4,0.20000,0.20100,0.20200,0.20300,0.20400,0.20500,0.20600,0.20700,0.20800,0.20900,...,2.19000,2.19100,2.19200,2.19300,2.19400,2.19500,2.19600,2.19700,2.19800,2.19900
5,-0.08365,-0.08382,-0.08436,-0.08509,-0.08581,-0.08635,-0.08663,-0.08669,-0.08663,-0.08657,...,-0.01043,-0.01043,-0.01055,-0.01083,-0.01121,-0.01158,-0.01189,-0.01217,-0.01246,-0.01278
6,0.20000,0.20100,0.20200,0.20300,0.20400,0.20500,0.20600,0.20700,0.20800,0.20900,...,2.19000,2.19100,2.19200,2.19300,2.19400,2.19500,2.19600,2.19700,2.19800,2.19900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1121,0.00755,0.00744,0.00738,0.00731,0.00725,0.00725,0.00730,0.00734,0.00739,0.00758,...,0.04904,0.04896,0.04903,0.04932,0.04977,0.05022,0.05051,0.05060,0.05051,0.05028
1122,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,0.10900,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
1123,-0.01868,-0.01859,-0.01857,-0.01859,-0.01856,-0.01838,-0.01803,-0.01758,-0.01715,-0.01684,...,0.02566,0.02564,0.02554,0.02541,0.02530,0.02524,0.02518,0.02508,0.02494,0.02487
1124,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,0.10900,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
1125,-0.00891,-0.00920,-0.00939,-0.00959,-0.00980,-0.00996,-0.01002,-0.00999,-0.00988,-0.00971,...,0.01238,0.01253,0.01261,0.01269,0.01279,0.01300,0.01328,0.01357,0.01383,0.01408

In [18]:
df=df.reset_index(drop=True)
df

,0,1,2,3,4,5,6,7,8,9,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,0.10900,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
1,-0.10529,-0.10485,-0.10444,-0.10412,-0.10391,-0.10381,-0.10375,-0.10373,-0.10378,-0.10395,...,-0.01183,-0.01203,-0.01223,-0.01238,-0.01249,-0.01252,-0.01247,-0.01233,-0.01209,-0.01179
2,0.20000,0.20100,0.20200,0.20300,0.20400,0.20500,0.20600,0.20700,0.20800,0.20900,...,2.19000,2.19100,2.19200,2.19300,2.19400,2.19500,2.19600,2.19700,2.19800,2.19900
3,-0.08365,-0.08382,-0.08436,-0.08509,-0.08581,-0.08635,-0.08663,-0.08669,-0.08663,-0.08657,...,-0.01043,-0.01043,-0.01055,-0.01083,-0.01121,-0.01158,-0.01189,-0.01217,-0.01246,-0.01278
4,0.20000,0.20100,0.20200,0.20300,0.20400,0.20500,0.20600,0.20700,0.20800,0.20900,...,2.19000,2.19100,2.19200,2.19300,2.19400,2.19500,2.19600,2.19700,2.19800,2.19900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1119,0.00755,0.00744,0.00738,0.00731,0.00725,0.00725,0.00730,0.00734,0.00739,0.00758,...,0.04904,0.04896,0.04903,0.04932,0.04977,0.05022,0.05051,0.05060,0.05051,0.05028
1120,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,0.10900,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
1121,-0.01868,-0.01859,-0.01857,-0.01859,-0.01856,-0.01838,-0.01803,-0.01758,-0.01715,-0.01684,...,0.02566,0.02564,0.02554,0.02541,0.02530,0.02524,0.02518,0.02508,0.02494,0.02487
1122,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,0.10900,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
1123,-0.00891,-0.00920,-0.00939,-0.00959,-0.00980,-0.00996,-0.01002,-0.00999,-0.00988,-0.00971,...,0.01238,0.01253,0.01261,0.01269,0.01279,0.01300,0.01328,0.01357,0.01383,0.01408

In [19]:
S=[]
for i in range(1,10):
    temp=[i]*281
    S.extend(temp)

aa=pd.DataFrame(S)
df=pd.concat([aa,df], axis=1)
df

,0,0,1,2,3,4,5,6,7,8,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,1,0.10000,0.10100,0.10200,0.10300,0.10400,0.10500,0.10600,0.10700,0.10800,...,2.09000,2.09100,2.09200,2.09300,2.09400,2.09500,2.09600,2.09700,2.09800,2.09900
1,1,-0.10529,-0.10485,-0.10444,-0.10412,-0.10391,-0.10381,-0.10375,-0.10373,-0.10378,...,-0.01183,-0.01203,-0.01223,-0.01238,-0.01249,-0.01252,-0.01247,-0.01233,-0.01209,-0.01179
2,1,0.20000,0.20100,0.20200,0.20300,0.20400,0.20500,0.20600,0.20700,0.20800,...,2.19000,2.19100,2.19200,2.19300,2.19400,2.19500,2.19600,2.19700,2.19800,2.19900
3,1,-0.08365,-0.08382,-0.08436,-0.08509,-0.08581,-0.08635,-0.08663,-0.08669,-0.08663,...,-0.01043,-0.01043,-0.01055,-0.01083,-0.01121,-0.01158,-0.01189,-0.01217,-0.01246,-0.01278
4,1,0.20000,0.20100,0.20200,0.20300,0.20400,0.20500,0.20600,0.20700,0.20800,...,2.19000,2.19100,2.19200,2.19300,2.19400,2.19500,2.19600,2.19700,2.19800,2.19900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2525,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2527,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2528,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df2=df.sample(frac=1).reset_index(drop=True)
df2

,0,0,1,2,3,4,5,6,7,8,...,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999
0,4,0.1,0.101,0.102,0.103,0.104,0.105,0.106,0.107,0.108,...,2.09,2.091,2.092,2.093,2.094,2.095,2.096,2.097,2.098,2.099
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0.2,0.201,0.202,0.203,0.204,0.205,0.206,0.207,0.208,...,2.19,2.191,2.192,2.193,2.194,2.195,2.196,2.197,2.198,2.199
4,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2524,2,0.1,0.101,0.102,0.103,0.104,0.105,0.106,0.107,0.108,...,2.09,2.091,2.092,2.093,2.094,2.095,2.096,2.097,2.098,2.099
2525,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2527,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2528,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN